{
  "app": {
    "products": [
      {
        "name": "default",
        "targetSdkVersion": "6.0.1(21)",
        "compatibleSdkVersion": "6.0.1(21)",
        "runtimeOS": "HarmonyOS",
        "signingConfig": "default",
        "buildOption": {
          "strictMode": {
            "caseSensitiveCheck": true,
            "useNormalizedOHMUrl": true
          }
        }
      }
    ],
    "buildModeSet": [
      {
        "name": "debug"
      },
      {
        "name": "release"
      }
    ],
    "signingConfigs": [
      {
        "name": "default",
        "type": "HarmonyOS",
        "material": {
          "storeFile": "./sign/anote.p12",
          "storePassword": "YOUR_STORE_PASSWORD",
          "keyAlias": "anote",
          "keyPassword": "YOUR_KEY_PASSWORD",
          "signAlg": "SHA256withECDSA",
          "profile": "./sign/anoteDebug.p7b",
          "certpath": "./sign/anote.cer"
        }
      }
    ]
  },
  "modules": [
    {
      "name": "entry",
      "srcPath": "./entry",
      "targets": [
        {
          "name": "default",
          "applyToProducts": [
            "default"
          ]
        }
      ]
    }
  ]
}
